.menulogin {
  display: flex;
  padding: 10px 15px;
  width: 600px;
  height: 600px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 15px 25px;
  color: #262626;
  background-color: #ffffff;
  border-radius: 5px;
}

.menulogin ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 0px;
}

.menulogin ul li {
  margin: 0 30px; /* Añadir margen a los elementos li */
}

.menulogin ul a {
  font-weight: 500;
  text-decoration: inherit;
  font-style: normal;
}

ul li .nav-link:hover {
  color: #ff950a;
  transition-duration: 0.3s;
}

ul li .nav-link-on {
  color: #ff950a;
  text-decoration: underline;
  text-underline-offset: 6px;
}

.logout {
  background-color: rgb(255, 104, 10);
  color: rgb(28, 28, 28);
  border-color: black;
  width: 100%;
}

.logout:hover {
  background-color: #ffb50a;
  color: rgb(28, 28, 28);
  border-color: black;
  transition-duration: 0.3s;
}

.logout-form {
  display: flex;
  font-size: 14px;
  flex-direction: column;
  align-items: center;
  margin: 0px;
  padding: 0px;
  gap: 0px;
  text-align: center;
}

.botones-menu {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  padding: 0px;
  gap: 0px;
  text-align: center;
}

.botones-menu ul {
  display: flex;
  align-items: center;
}

.btn-menu {
  display: flex;
  font-size: 17px;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin: 0px;
  padding: 15px 45px;
  border-color: #215f99;
  color: #215f99;
  background-color: #ffffff;
  box-shadow: 2px 2px 1px #215f99;
  margin-bottom: 20px;
}

.btn-menu-active {
  background-color: #215f99;
  color: #ffffff;
  box-shadow: 2px 2px 1px #3b3b3b;
  border-width: 0px;
}

.logo {
  margin-bottom: 20px;
  width: 350px;
}
