.contenedorFormulario {
  display: flex;
  flex-direction: column;
  border-radius: 2px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.contenedorFormulario input {
  display: flex;
  flex-direction: column;
  width: 350px;
  height: 35px;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 5px;
  margin-top: 10px;
}

.contenedorFormulario label {
  display: flex;
  text-align: fleft;
  align-items: center;
  margin-top: 10px;
}

.contenedorFormulario form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.botonEnviar {
  background-color: green;
  width: 95%;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  margin: 10px;
  cursor: pointer;
}

.botonEnviar:hover {
  background-color: #df7802;
}

textarea.descripcionTarea {
  width: 100%; /* O cualquier valor específico, como 300px */
  height: 150px; /* Ajusta según necesites */
  resize: both; /* Permite redimensionar el textarea */
  /* Otras propiedades para estilo, si deseas */
}
