.nueva-atencion {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin: 0 auto;
}

.nueva-atencion-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.actualizar-atencion-back-button {
  display: flex;
  align-items: center;
  color: #215f99;
  padding: 0px;
  margin: 0px;
  border: none;
  transition-duration: 0.3;
}

.actualizar-atencion-back-button:hover {
  transform: scale(1.2);
  transition-property: transform;
  transition-duration: 0.3s;
}

.nueva-atencion-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-height: 450px;
  overflow: auto;
  padding: 10px 20px;
}
.nueva-atencion-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px;
  font-size: 17px;
}

.nueva-atencion-form input,
.nueva-atencion-form textarea,
.nueva-atencion-form select {
  padding: 0px 15px;
  width: 100%;
  min-height: 36px;
  border-radius: 5px;
  border: 2px solid #215f99;
  box-sizing: border-box;
  margin-bottom: 20px;
}

.nueva-atencion-form textarea {
  height: 170px;
  resize: vertical;
  margin-bottom: 15px;
}

.nueva-atencion-form button {
  padding: 10px;
  width: 100%;
  background-color: #215f99;
  color: white;
  cursor: pointer;
  border: none;
  border-radius: 5px;
}

.nueva-atencion-form button:hover {
  background-color: #df7802;
  border-color: #df7802;
}

.nueva-atencion-form label {
  font-weight: 400;
  color: black;
}

.nueva-atencion-form select {
  background-color: white;
  font-family: inherit;
  color: #000;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  position: relative;
  background: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="%23000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"%3E%3Cpolyline points="6 9 12 15 18 9"%3E%3C/polyline%3E%3C/svg%3E')
    no-repeat right 10px center;
  background-size: 12px;
  padding-right: 30px; /* Asegura espacio para la flecha */
}

.nueva-atencion-form select option {
  width: 100%;
}

.nueva-atencion-form select::after {
  content: "▼"; /* Indicador de flecha invertida */
  font-size: 12px;
  color: #000; /* Color de la flecha */
  position: absolute;
  right: 10px; /* Espaciado desde el borde */
  top: 50%; /* Centrar verticalmente */
  transform: translateY(-50%);
  pointer-events: none; /* Asegura que la flecha no interfiera con el clic */
}

.nueva-atencion-form input,
.nueva-atencion-form textarea,
.nueva-atencion-form select,
.nueva-atencion-form button {
  font-size: 17px;
}

.nueva-atencion-form-container::-webkit-scrollbar {
  width: 8px;
}

.nueva-atencion-form-container::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.nueva-atencion-form-container::-webkit-scrollbar-thumb {
  background: #215f99;
  border-radius: 10px;
}

.nueva-atencion-form-container::-webkit-scrollbar-thumb:hover {
  background: #df7802;
}
