.inicio-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left;
  width: 100%;
}

.actualizar-terapeuta {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.actualizar-terapeuta-form {
  flex-direction: column;
  align-items: center;
  width: 700px;
  gap: 10px;
}

.actualizar-terapeuta-form input {
  width: 100%;
  padding: 10px 12px;
  border-radius: 5px;
  border: 2px solid #215f99;
  box-sizing: border-box;
  margin-bottom: 15px;
}

.boton-actualizar {
  padding: 10px;
  width: 100%;
  background-color: #215f99;
  color: white;
  cursor: pointer;
}

.boton-actualizar:hover {
  transform: scale(1.02);
  transition-property: transform;
  transition-duration: 0.3s;
  background-color: #df7802;
}
