.actualizar-terapeuta {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: -30px;
}

.actualizar-terapeuta-form {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  align-items: center;
  width: 500px;
  gap: 10px;
}

.actualizar-terapeuta-form input {
  display: flex;
  padding: 0px 10px 0px 10px;
  width: 500px;
  height: 36px;
  border-radius: 5px;
  border: 2px solid #215f99;
  box-sizing: border-box;
}

.boton-actualizar {
  padding: 10px;
  width: 100%;
  background-color: #215f99;
  color: white;
  cursor: pointer;
  transform-origin: center;
}

.boton-actualizar:hover {
  transform: scale(1.02);
  transition-property: transform;
  transition-duration: 0.3s;
  background-color: #df7802;
}

.inicio-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left;
  width: 100%;
  margin-top: -30px;
}
