.log-usuario {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 650px;
}

.log-usuario-form {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-between;
  align-items: center;
  width: 650px;
  gap: 10px;
}

.log-usuario-form input {
  padding: 0px 10px;
  width: 100%;
  height: 36px;
  border-radius: 5px;
  border: 2px solid #215f99;
  box-sizing: border-box;
}

.log-usuario-form-button {
  box-sizing: border-box;
  padding: 10px 0px;
  width: 100%;
  background-color: #215f99;
  color: white;
  cursor: pointer;
}

.log-usuario-form-button:hover {
  background-color: #df7802;
  border-color: #df7802;
}

.register-usuario-button {
  padding: 15px 50px;
  width: 100%;
  background-color: rgb(0, 51, 181);
  color: white;
  cursor: pointer;
}

.nuevo-usuario-form button {
  padding: 10px;
  width: 100%;
  background-color: #215f99;
  color: white;
  cursor: pointer;
}

.nuevo-usuario-form button:hover {
  background-color: #df7802;
  border-color: #df7802;
}
